<!-- step : 1 -->
<!-- installation -->
<!-- npm install -g @angular/cli -->
<!-- ng version -->







<!-- step : 2 -->
<!-- create new angular project -->
<!-- with standalone - app.module.ts file not present. (ng new my-angular-app) -->
<!-- without standalone - app.module.ts file will present.  (ng new my-angular-app --no-standalone) -->
<!-- cd my-angular-app -->
<!-- ng serve -->







<!--  step:3 -->
<!-- component create pannanum  -->
<!-- ng g c home -->
<!-- our frontend design can be placed here -->
<p>apimapping works!</p>




<!-- Step 6: Display API Data in Home Component -->
<!-- Modify api-mapping.component.ts -->
<h1>API Data:</h1>
<ul>
    <li *ngFor="let post of posts">{{ post.title }}</li>
</ul>
<!-- Step 7: Setup Routing -->
<!-- Modify app-routing.module.ts -->








<!-- Step 4: Create a Service for API Calls -->
<!-- ng g service services/api -->
<!-- Modify api.service.ts -->